/* Zerando CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Background Screen */

html{
    height:100vh;
    background-color: #FAFAFA;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header{
    display:flex;
    justify-content: space-between;
    width: 100%;
    background: #000000;
    padding-top: 30px;
    padding-bottom: 10px;
}

.logo img{
    width:150px;
    margin-left: 170px;
}

.header-menu {
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right:180px;
}

.list-itens{
    display:flex;
    list-style: none;
    gap: 20px;
}

.list-itens a{
    text-decoration: none;
    color: white;
}

.list-itens a:hover{
    color:#fccd14;
    transition: 0.3s all;
}

.list-itens li{
transition: transform .2s ease-in;
}

.list-itens li:hover{
    transform:scale(1.2);
}

/* MAIN CONTENT */

main {
    height:70vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(55, 55, 55, 0.782), rgb(0, 0, 0)), url(img/gallery-3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.main-title{
    font-size: 1.5rem;
    padding-bottom: 10px;
    text-align: center;
    width: 70vw;
}

.main-text {
    font-size: 1.5rem;
    width: 60vw;
    text-align: center;
}

.btn-aula button{
    display:inline-block;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.3rem;
    padding: 10px;
    margin: 30px 0 0 0px;
    text-align: center;
    color:#000000;
    background-color:#14cefc;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .2s;
    font-family: 'Poppins', sans-serif;
}

.btn-aula button:hover{
    transform: scale(1.1);
    }

/* ABOUT */

.about{
    display:flex;
    flex-direction: row;  
    justify-content: space-around;  
    align-items: center;
    padding: 30px 60px 30px 60px;
}
    
.about-text{
    width: 50%;
    align-self: auto;
    font-size:1.5rem;
}

.about-text img{
    margin:10px;
    padding-top: 10px;
    width: 30px;
    transition: transform .2s ease-in;
}

.about-text img:hover{
    transform: scale(1.2);
}

.about-avatar img{
    width: 300px;
    border-radius: 20px;
    margin-left: 30px;
}

/* BENEFITS */

.benefits{
    display:flex;
    flex-direction: row;  
    justify-content: space-around;  
    align-items: center;
    background-color: #D9D9D9;
    padding: 30px 60px 30px 150px;
}

.benefits-video{
    margin-left: 30px;
    padding-left: 100px;
}

.benefits-text {
    width: 50%;
    font-size:1.5rem;
}

.btn-saiba button{
    color: white;
    background:#000000;
    padding:10px;
    text-decoration:none;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin-top:20px;
    transition: transform .2s ease-in;
}

.btn-saiba button:hover{
    transform:scale(1.2);
}

/* LOCATION */

.location{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location h1{
    margin: 40px 0 20px;
    
}

.location iframe{
    width:90vw;
    border-radius:10px;
    margin-bottom:30px;
}

/*FOOTER*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    height: 135px;
    background-color: #000000;
    padding-bottom:10px;
}

.footer img {
    width: 100px;
}

.footer p{
    margin-top:10px;
    color: white;
    text-align: center;
}
.span{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}


/* GREETINGS */

.content-area {
    display:flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom:30px;
    align-items: center;
    margin: 90px 0 90px 0;
}

.content-area h2 {
    font-size: 2rem;
    font-weight: 900;
    max-width: 500px;
    margin-bottom: 5px;
}

.content-area p {
    font-size: 1.1rem;
    margin:8px 0 8px 0;
}

.btn-voltar{
    color: #fff;
    background: #000000;
    border-radius: 10px;
    font-weight: 700;
    padding: 5px 10px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: transform .2s;
}

.btn-voltar:hover{
    transform: scale(1.1);
    }
